img {
    image-rendering: pixelated; /* pixel aesthetics */
}

.icon {
    margin: 0px;
}

.align-center {
    display: flex;
    align-items: center;
}

.hover-wrapper {
    cursor: pointer;
}

.pushdown-button {
    cursor: pointer;
}

/* reference: https://stackoverflow.com/questions/14149360/text-on-image-mouseover */
.hover-wrapper:hover {
    transform: scale(1.1)
}

.icon {
    /* display: inline-block; */
    float: left;
}

.inline-image {
    height: 1em;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}